{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
 	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
 	<link rel="stylesheet" type="text/css" href="{% static 'web/editProfile.css' %}">


  <title>Edit Profile Alumni</title>

</head>
<body>

	{% include "Navbar.html" %}

    <!-- contact -->
    <section class="contact" id="contact" style="padding-bottom: 300px; ">
      <!--<div class="jumbotron text-center" style="background-color: transparent;">-->
      <div class="container text-center" style="padding-top: 100px;padding-bottom: 50px;">
        <img src="{{user.image.url}}"> 
        <h1>{{user.nama}}</h1>
        <p><i><strong>{{user.status}}</strong></i></p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 style="color: #9f1717;"><u>Informasi Pribadi</u></h2>
          </div>
        </div>
        <br>

        <form method="post" action="">
			{% csrf_token %}
	        <div class="row">
	          <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
	            <h3>Status</h3>
	              <p>{{ form.status }}</p>
	            <h3>Tahun Lulus SMA</h3>
	              <p>{{ form.tahunlulus }}</p>
	            <h3>Kontak</h3>
	              <p>{{ form.kontak }}</p>
	          </div>  
	        </div>
	        <br>
	        <div class="row">
	          <div class="col-sm-12 text-center">
	            <h2 style="color: #9f1717;"><u>Informasi Perguruan Tinggi</u></h2>
	          </div>
	        </div>
          <br>
	        <div class="row">
	          <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
	            <h3>Perguruan Tinggi</h3>
              
                {{ form.univ }}
              <br>            

	            <h3>Fakultas</h3>
	              <p>{{ form.fakultas }}</p>

	            <h3>Jurusan</h3>
	              <p>{{ form.jurusan }}</p>
	        
	            <h3>Jalur Masuk Universitas</h3>
	              <p>{{ form.jalur }}</p>

	            <h3>Skor UTBK 1</h3>
	              <p>{{ form.skor_1 }}</p>

	            <h3>Skor UTBK 2</h3>
	              <p>{{ form.skor_2 }}</p>

	            <h3>Tahun Masuk Universitas</h3>
	            <p>{{ form.tahunmasuk }}</p>

	          </div>
	        </div>
          <br>
	        <div class="row">
	          <div class="col-sm-12 text-center">
	            <h2 style="color: #9f1717;"><u>Referensi dan Tips</u></h2>
	          </div>
	        </div>
          <br>
	        <div class="row">
	          <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
	            <h3>Referensi Belajar</h3>
	            <p>{{ form.refrensi }}</p>

	            <h3>Tips dan Trik</h3>
	            <p>{{ form.pesan }}</p>
	          </div>
	        
	        </div>
	        <div class="row">
	          <div class="col-sm-8 offset-sm-2">
	            <button type="submit" name = "save" class="btn btn-warning btn-md" style="width: 100px;">Simpan</button>
	          </div>
	        </div>
	      </form>

      </div>
    </section>

</body>

	{% include "footer.html" %}
</html>