{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
 	<link rel="stylesheet" type="text/css" href="{% static 'web/editProfileNonAlumni.css' %}">
 	
	<title>Edit Profile</title>
</head>
<body>

	{% include "Navbar.html" %}
	
	<section class="editSiswa" style="margin-top: 100px;margin-bottom: 300px;">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 offset-xl-2 col-lg-4 offset-lg-1 col-md-3 offset-md-1 col-sm-3 offset-sm-0 col-3 offset-0">
					<img src="{{user.image.url}}">
				</div>	
				<div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 col-9" style="padding-top: 10px;">
					<h1 class="namaProfil">{{user.nama}}</h1>
					<hr style="border-top: 7px solid #0f1c26;">
				</div>	
			</div>

			<div class="row" style="margin-top: 60px;">
				<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1">
					<form method="post" action="">
						{% csrf_token %}

						<h3>Ganti status kamu dengan mengubah status di form ini yaa!</h3>
						<br>
						<p><strong>Kontak</strong></p>
						<p>{{ form.kontak }}</p>

						<p><strong>Status</strong></p>
						{{ form.status }}				
						<button type="submit" name="save" class="btn btn-primary btn-md" style="background-color: #0f1c26;">Simpan</button>
						
					</form>		
				</div>
			</div>
		</div>
	</section>
		
</body>

	{% include "footer.html" %}
</html>