{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
 	<link rel="stylesheet" type="text/css" href="{% static 'web/editProfil.css' %}">
	<title>Edit Profile</title>
</head>
<body>

	{% include "Navbar.html" %}
	<br><br><br><br><br><br>
	<div class="profilBlok">
		<div class="blokSingkat">
			<img src="{{user.image.url}}" class="centerProfil">
		</div>
		<div class="blokPadat">
			<h1 class="namaProfil">{{user.nama}}</h1>
			<br>
			<hr color=9f1717 size="7">
		</div>
	</div>
	<div class="tulisanBlok">
		<div class="blokTulisan">
			<form method="post" action="">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit", name="save">Save</button>
			</form>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br>
</body>
	{% include "footer.html" %}
</html>