{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'web/profilNotFound.css' %}">
	<title>Profil Tidak Ditemukan</title>
</head>
<body>
	{% include "Navbar.html" %}
	<section class="notFound" style="margin-top: 120px;">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1">
					<h1>Profil tidak ditemukan!</h1>
					<hr color=0f1c26>
					<p>Sayang sekali profil yang kamu cari tidak ditemukan. Pastikan kamu tidak menginput username profil yang salah. Jika dirasa ada kendala, silahkan hubungi kami melalui email yang tertera di bagian bawah web ini.</p>
				</div>
			</div>
		</div>
	</section>
	
	
</body>
{% include "footer.html" %}
</html>