{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'web/profil.css' %}">

    <title>Lihat Profil</title>


  </head>
  <body>
  	{% include "Navbar.html" %}
  	
    <section class="profil" id="profil" style="padding-bottom: 200px;">
      <div class="container" style="padding: 100px 0px;">
        <div class="profilBlok">
  
          <div class="blokSingkat">
            <img src="{{user.image.url}}" class="centerProfil">
            <br><br>
            <h3 style="color:#fed337;">Jurusan</h3>
            <p>{{user.jurusan}}</p>
            <h3 style="color:#fed337;">Fakultas</h3>
            <p>{{user.fakultas}}</p>
            <h3 style="color:#fed337;">Perguruan Tinggi</h3>
            <p>{{user.univ}}</p>
            <h3 style="color:#fed337;">Tahun Masuk</h3>
            <p>{{user.tahunmasuk}}</p>
            <h3 style="color:#fed337;">Jalur Masuk</h3>
            <p>{{user.jalur}}</p>
            <h3 style="color:#fed337;">Nilai UTBK 1</h3>
            <p>{{user.skor_1}}</p>
            <h3 style="color:#fed337;">Nilai UTBK 2</h3>
            <p>{{user.skor_2}}</p>
            <br><br>
            
          </div>

          <div class="blokPadat">
            <h1 class="namaProfil">{{user.nama}}</h1>
            <br>
            <hr style="border-top: 7px solid #0f1c26;">
            <h3><i>Lulusan {{user.tahunlulus}}</i></h3>
            <br>
            <br>
            <h2>Kontak : </h2>
            <p>{{user.kontak}}</p>
            <br>
            <h2>Referensi Belajar : </h2>
            <p>{{user.refrensi}}</p>
            <br>
            <h2>Pesan dan Tips Belajar : </h2>
            <p>{{user.pesan}}</p>
            
          </div>
        
        </div>
      </div>
    </section>

  </body>
  {% include "footer.html" %}
</html>

