* {
  box-sizing: border-box;
}

.rows{
  float : left;
  width : 100%;
}

img {
  border-radius: 10px;
}

.Team {
  padding : 30px 300px;
  background-color: transparent;
  color: black;
}

.cardTeam {
  float: center;
  width : 425px;
  padding : 5px;
  background-color: #0f1c26;
  border-radius : 10px;
  height : 175px;
}


.col25 {
  float: left;
  width: 115px;
  padding: 0px 5px;
  height: 145px;
}
.col75 {
  float: right;
  width: 300px;
  padding: 1px;
  height: 100px;
  color : white;
  font-size: 15px;
}

body {
	padding: 10px 100px 0px 100px;
	background-color: white;
}

.col25 .desktop {
	display: inline;
}
.col25 .mobile {
	display: none;
}
@media screen and (min-width: 651px) and (max-width: 1200px) {
	body {
		padding: 10px 50px;
		font-size: 12px;
	}
	.Team {
		padding: 0px 120px;
	}
	.cardTeam {
		width: 400px;
		height: 130px;
	}
	.col25 {
		height: 115px;
		width: 100px;
		padding: 5px;
	}
	.col75 {
		width: 285px;
		font-size: 10px;
	}
	.col25 .desktop {
		display: none;
	}
	.col25 .mobile {
		display: inline;
	}

}



@media screen and (max-width: 650px) {
	body {
		padding: 10px 20px;
		font-size: 12px;
	}
	.Team {
		padding: 0px 20px;
	}
	.cardTeam {
		width: 300px;
		height: 120px;
	}
	.col25 {
		height: 100px;
		width: 85px;
	}
	.col75 {
		width: 200px;
		font-size: 10px;
	}
	.col25 .desktop {
		display: none;
	}
	.col25 .mobile {
		display: inline;
	}


}