body {
  padding: 10px 100px;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cardBlok {
	padding: 0px 20px;
	width: 100%;
	background-color: transparent;
}
.card {
  float : left;
  height : 320px;
  width : 185px;
  margin: 33px 10px;
  background-color : #0f1c26;
  border-radius : 35px;
  padding: 35px 20px;
  box-shadow : 0px 5px 5px 0px black;
  
}

.jalur {
  font-size: 15px;
  font-family: Arial Black;
  color : white;
  text-align: center;
  padding: 0px;
}

.nama {
  font-size : 18px;
  text-align : center;
  font-family: Century Gothic,sans-serif;
  color : white;
}

.jurusan {
  font-size : 15px;
  text-align : center;
  color : white;
}

.univ {
  font-size : 15px;
  text-align : center;
  color : white;
}

.center {
  display : block;
  margin-left : auto;
  margin-right : auto;
}

img {
  height : 80px;
  width : 80px;
  border-radius : 50%;
}




.rows{
  width : 100%;
  padding: 0px 20px;
}

.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 40%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding: 50px;
  color : white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #0f1c26;
  color: #fed337;
  font-size : 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:5px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.Pad{
  padding : 14px 20px
}

.desktop {
  display: inline;
}

.mobile {
  display: none;
}


@media screen and (max-width: 1130px) {
  .card {
    width: 130px;
    margin: 35px 7px 0px 10px;
    height: 270px;
  }

  img {
  height : 60px;
  width : 60px;
  border-radius : 50%;
  }


  .jalur {
    font-size: 12px;
  }
  .nama {
    font-size: 15px;
  }
  .jurusan {
    font-size: 12px;
  }
  .univ {
    font-size: 12px;
  }
  .modal {
    left: 30;
    width: 80%;
    padding: 50px 10px;
    font-size: 12px;
  }
  .mobile {
    display: inLine;
  }

  .desktop {
    display: none;
  }

  input[type=text] {
    padding: 5px;
    font-size: 12px;
  }

  button {
    font-size: 15px;
    border-radius:5px;
    background-color: #0f1c26;
    color:#fed337;

  }

  .Pad{
   padding : 14px 20px
  }

}

@media screen and (max-width: 900px) {
  .rows{
    width : 100%;
    padding: 0px 20px;
  }
}