img {
  height : 200px;
  width : 200px;
  border-radius : 50%;
}

.namaProfil {
	font-size: 40px;

}

.centerProfil {
  display : block;
  margin-left : auto;
  margin-right : auto;
}

.profilBlok {
	width: 100%;
	height: 150px;
	padding : 0px;
	background-color: transparent;
}

.tulisanBlok {
	width: 100%;
	height: 500px;
	padding : 0px 0px 0px 30px;
	background-color: transparent;
}

.blokTulisan {
	padding: 40px 20px 20px 30px;
	width: 55%;
	background-color: transparent;
	float: left;
	margin : 0px 0px 0px 425px;
	height: 500px;
	color: #fed337;
	background-color: red;
	border-radius: 10px;
}

.blokSingkat {
	padding: 40px 20px 20px 30px;
	width: 30%;
	background-color: transparent;
	float: left;
	height: 100%;
	color: white;
}

.blokPadat {
	padding: 40px 20px 20px 20px;
	width: 60%;
	background-color: transparent;
	float: left;
	height: 100%;
}

.blokTulisan button {
  background-color: #fed337;
  height: 50px;
  width: 150px;
  color: #0f1c26;
  font-size : 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius:5px;
}

.desktopProfil {
	display: inline;
}


@media screen and (min-width: 1201px) and (max-width: 1400px) {
	img {
	  height : 200px;
	  width : 200px;
	  border-radius : 50%;
	}

	.namaProfil {
		font-size: 40px;

	}

	.centerProfil {
	  display : block;
	  margin-left : auto;
	  margin-right : auto;
	}

	.profilBlok {
		width: 100%;
		height: 150px;
		padding : 0px;
		background-color: transparent;
	}

	.tulisanBlok {
		width: 100%;
		height: 1250px;
		padding : 0px 0px 0px 30px;
		background-color: transparent;
	}

	.blokTulisan {
		padding: 40px 20px 20px 30px;
		width: 55%;
		background-color: transparent;
		float: left;
		margin : 0px 0px 0px 385px;
		height: 1400px;
		color: #fed337;
		background-color:  #0f1c26;
		border-radius: 10px;
	}

	.blokSingkat {
		padding: 40px 20px 20px 30px;
		width: 30%;
		background-color: transparent;
		float: left;
		height: 100%;
		color: white;
	}

	.blokPadat {
		padding: 40px 20px 20px 20px;
		width: 60%;
		background-color: transparent;
		float: left;
		height: 100%;
	}

	.blokTulisan button {
	  background-color: #fed337;
	  height: 50px;
	  width: 150px;
	  color: #0f1c26;
	  font-size : 18px;
	  margin: 8px 0;
	  border: none;
	  cursor: pointer;
	  opacity: 0.9;
	  border-radius:5px;
	}

	.desktopProfil {
		display: inline;
	}
}


@media screen and (min-width: 900px) and (max-width: 1200px) {

	img {
	  height : 180px;
	  width : 180px;
	  border-radius : 50%;
	}

	.namaProfil {
		padding: 20px 0px 0px 0px;
		font-size: 35px;

	}

	.centerProfil {
	  display : block;
	  margin-left : auto;
	  margin-right : auto;
	}

	.profilBlok {
		width: 100%;
		height: 150px;
		padding : 0px;
		background-color: transparent;
	}

	.tulisanBlok {
		width: 100%;
		padding : 0px;
		background-color: transparent;
	}

	.blokTulisan {
		border-radius: 10px;
		width: 60%;
		background-color: #0f1c26;
		float: left;
		margin : 20px 0px 0px 250px;
	}

	.blokSingkat {
		padding: 40px 10px 20px 10px;
		width: 30%;
		background-color: transparent;
		float: left;
		height: 100%;
		color: white;
	}

	.blokPadat .desktop {
		display: none;
	}

	.blokPadat .mobile {
		display: inline;
	}

	.blokPadat {
		padding: 40px 0px 20px 0px;
		width: 60%;
		background-color: transparent;
		float: left;
		height: 100%;
	}

	.blokTulisan button {
	  background-color: #fed337;
	  height: 40px;
	  width: 90px;
	  color: #0f1c26;
	  font-size : 18px;
	  margin: 8px 0;
	  border: none;
	  cursor: pointer;
	  border-radius:5px;
	}
}


@media screen and (min-width: 441px) and (max-width: 899px) {
	.desktopProfil {
		display: none;
	}

	img {
	  height : 150px;
	  width : 150px;
	  border-radius : 50%;
	}

	.namaProfil {
		padding: 20px 0px 0px 0px;
		font-size: 27px;

	}

	.centerProfil {
	  display : block;
	  margin-left : auto;
	  margin-right : auto;
	}

	.profilBlok {
		width: 100%;
		height: 150px;
		padding : 0px;
		background-color: transparent;
	}

	.tulisanBlok {
		width: 100%;
		padding : 0px;
		height: 1250px;
		background-color: transparent;
	}

	.blokTulisan {
		border-radius: 10px;
		width: 80%;
		background-color: #0f1c26;
		float: left;
		margin : 20px 0px 0px 35px;
	}

	.blokSingkat {
		padding: 40px 10px 20px 10px;
		width: 30%;
		background-color: transparent;
		float: left;
		height: 100%;
		color: white;
	}

	.blokPadat .desktop {
		display: none;
	}

	.blokPadat .mobile {
		display: inline;
	}

	.blokPadat {
		padding: 40px 0px 20px 0px;
		width: 60%;
		background-color: transparent;
		float: left;
		height: 100%;
	}

	.blokTulisan button {
	  background-color: #fed337;
	  height: 30px;
	  width: 80px;
	  color: #0f1c26;
	  font-size : 14px;
	  margin: 8px 0;
	  border: none;
	  cursor: pointer;
	  opacity: 0.9;
	  border-radius:5px;
	}
}



@media screen and (max-width: 440px) {
	.desktopProfil {
		display: none;
	}

	img {
	  height : 100px;
	  width : 100px;
	  border-radius : 50%;
	}

	.namaProfil {
		padding: 20px 0px 0px 0px;
		font-size: 20px;

	}

	.centerProfil {
	  display : block;
	  margin-left : auto;
	  margin-right : auto;
	}

	.profilBlok {
		width: 100%;
		height: 90px;
		padding : 0px;
		background-color: transparent;
	}

	.tulisanBlok {
		width: 100%;
		height: 950px;
		padding : 0px;
		background-color: transparent;
	}

	.blokTulisan {
		border-radius: 10px;
		padding: 20px 25px 20px 15px;
		width: 80%;
		background-color: #0f1c26;
		float: left;
		margin : 20px 0px 0px 20px;
		height: 1100px;
		font-size: 10px;
	}

	.blokSingkat {
		padding: 40px 10px 20px 10px;
		width: 30%;
		background-color: transparent;
		float: left;
		height: 100%;
		color: white;
	}

	.blokPadat .desktop {
		display: none;
	}

	.blokPadat .mobile {
		display: inline;
	}

	.blokPadat {
		padding: 40px 0px 20px 0px;
		width: 60%;
		background-color: transparent;
		float: left;
		height: 100%;
	}

	.blokTulisan button {
	  background-color: #fed337;
	  height: 30px;
	  width: 80px;
	  color: #0f1c26;
	  font-size : 14px;
	  margin: 8px 0;
	  border: none;
	  cursor: pointer;
	  opacity: 0.9;
	  border-radius:5px;
	}
}