.kolomFooter {
	width: 100%;
	background-color: transparent;
	height: 80px;
	padding : 220px 0px 0px 0px;
}

.fotoFooter {
	width: 30%;
	height: 100%;
	background-color: #9f1717;
	float: left;
	padding : 10px 0px 0px 0px;
}

.gambar {
	width: 150px;
	height: 60px;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.tulisanFooter {
	width: 35%;
	background-color: #9f1717;
	height: 100%;
	float: left;
	text-align: center;
	color: white;
	padding: 10px 0px 0px 0px;
	font-size : 10px;
}

.tulisanFooter p {
	font-size: 14px;
}

.mobile {
	display: none;
}

a {
	color: white;
	font-size: 11px;
}


@media screen and (max-width: 900px) {

	.kolomFooter {
		height: 50px;
	}

	.mobile {
		display: inline;
	}

	.fotoFooter {
		padding : 10px 0px;
	}

	.gambar {
		width: 80px;
		height: 35px;
		border-radius: 0px;
	}

	.tulisanFooter {
		padding: 0px 0px 20px 0px;
	}

	.tulisanFooter p {
		font-size: 10px;
	}

	.tulisanFooter h3 {
		font-size: 11px;
	}

	.tulisanFooter h2 {
		font-size: 11px;
	}

}