html {
	position: relative;
}


.login section {
	min-height: 600px;
	background-color: transparent;
}

.login .container {
	background-color: transparent;
}

.login {
	min-height: 800px;
	font-size: 16px;	
}

.login .col-4 {
	color: white;
	padding: 50px 20px;
}


.login h3 {
	color: #0f1c26;
	font-size: 20px;
}

/* Login dan Register Button */
.large {
	display: inline;
}

.small {
	display: none;
}

.medium {
	display: none;
}

/* Batas Login dan Register Button */



@media screen and (max-width: 575px) {

	/* Login dan Register Button */
	.login h1 {
		font-size: 22px;
	}

	.login p {
		font-size: 12px;
	}
	.large {
		display: none;
	}

	.small {
		display: inline;
	}

	.medium {
		display: none;
	}
	/* Batas Login dan Register Button */
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	/* Login dan Register Button */
	.large {
		display: none;
	}

	.small {
		display: none;
	}

	.medium {
		display: inline;
	}
	/* Batas Login dan Register Button */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	/* Login dan Register Button */
	.large {
		display: none;
	}

	.small {
		display: none;
	}

	.medium {
		display: inline;
	}
	/* Batas Login dan Register Button */
}