{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'web/footer.css' %}">
</head>
<body>

</body>

		
	<div class="kolomFooter">
		
		<div class="fotoFooter">
			<img class="gambar" src="{% static 'tampilanSega.png' %}">
		</div>
		<div class="tulisanFooter">
			<h3>&#9993; Kritik dan Saran</h3>
			<p>jejakAlumniSega@gmail.com</p>
		</div>
		<div class="tulisanFooter">
			<br>
			<a href="/aboutUs"><h3>About Us</h3></a>
		</div>

	</div>

</html>