<!doctype html>
<html lang="en">
  <head>
    <title>Tentang Kami</title>
  </head>
  <body>

  </body>
    <footer>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <p>&copy; copyright 2020 | Kritik & Saran: <a href="mailto:jejakAlumni103@gmail.com">jejakAlumni103@gmail.com</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <a href="/aboutUs" class="btn btn-default btn-sm">Tentang Kami</a>
          </div>
        </div>
      </div>
    </footer>

</html>