{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'web/footer.css' %}">
</head>
<body>

</body>
<br><br><br><br><br><br><br><br>
	<div class="mobile">
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
		
	<div class="kolomFooter">
		
		<div class="fotoFooter">
			<img class="gambar" src="{% static 'tampilanSega.png' %}">
		</div>
		<div class="tulisanFooter">
			<h3>Kritik dan Saran</h3>
			<p>&#9993; jejakAlumniSega@gmail.com</p>
		</div>
		<div class="tulisanFooter" >
			<br>
			<a href="/aboutUs"><h2>About Us</h2></a>
		</div>

	</div>

</html>