{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'web/navbar.css' %}">
</head>

<body>

<div class="kotak">
	<div class="columnsNavLogo">
  	<div class="navbar">
  	   <img class="logo" src="{% static 'tampilanSega.png' %}">
  	</div>
	</div>

	<div class="colGaris">
		<hr color=9f1717 size="7">
	</div>

	<div class="colTulisan">
  	<div class="columnsNavBeranda">
    	<div class="navbar">
    	  <a href="/"><h2 align="right">Beranda</h2></a>
    	</div>
  	</div>


  	<div class="columnsNav">
    	<div class="navbar">
    	  <div class="dropdown">
    	    <button class="dropbtn"><a href ='#'><h2 align="left">Statistik <i class="fa fa-caret-down"></i></h2></a>
    	    </button>
    	    <div class="dropdown-content">
    	      <a href="/Statistik/Universitas"><h3>&#9971; Perguruan Tinggi</h3></a>
    	      <a href="/Statistik/JalurMasuk"><h3>&#9997; Jalur Masuk</h3></a>
    	    </div>
    	  </div> 
    	</div>
  	</div>

  	<div class="columnsNav">
    	<div class="navbar">
    	  <div class="dropdown">
    	    <button class="dropbtn"><a href ='#'><h2 align="right">Profil Saya <i class="fa fa-caret-down"></i></h2></a>
    	    </button>
    	    <div class="dropdown-content">
    	      <a href="/profile/{{username}}"><h3>&#128587; Lihat/Edit Profil</h3></a>
    	      <a href="/logout"><h3>&#128590; Logout</h3></a>
    	    </div>
    	  </div> 
    	</div>
  	</div>
	</div>
</div>

</body>

</html>